template {    
    --background: white;
    --button-font-color: black;
    --border: var(--button-font-color);
    --in-border: var(--border);
}
.button {
    border-radius: 4px;
    background-color: var(--background);
    color: var(--button-font-color);
    cursor: pointer;
    border: 2px solid var(--border);
    transition: all .2s;
    min-width: 40px;
}

.button:hover {
    background-color: var(--button-font-color);
    color: var(--background);
    border-color: var(--in-border);
    // border: 2px solid $bg;

}