@mixin mobile {
    @media (max-width: 600px) {
        @content;        
    }
}

// Globals
//// Transfer to _global.scss and import.
.flex {
    display: flex;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
}

.flex-row {
    @extend .flex;
    flex-direction: row;
}

.border-round {
    border-radius: 4px;
}

// Globals end

* {
    font-family: Roboto;
    box-sizing: border-box;
}

.sbutton {
    font-family: "Roboto Mono";
    font-weight: 500;
    font-size: .9rem;

    --background: var(--bg);
    --button-font-color: var(--font-color);
    --border: var(--font-color);
    --in-border: var(--font-color);
}

body {
    --bg: #fdfdfd;
    --font-color: black;
    --input-bg: #ececec;
    
    background-color: var(--bg);
    color: var(--font-color);

    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: center;
    transition: all .4s;
    scroll-behavior: smooth;
}

.container {
    // align-items: center;
    // background-color: red;
    padding: 8px 12px;
    min-height: 100vh;    
    
    @include mobile {
        align-items: center;
        flex-direction: column;
    }
    background: transparent;
}

body[theme="dark"] {
    --bg: #222;
    --font-color: white;
    --input-bg: rgb(155, 155, 155);
}

.left {
    position: sticky;
    top: 32.5vh;
    height: 25vh;
    height: fit-content;    
    
    @include mobile {
        width: 100%;
        top: 0;
        background-color: var(--bg);
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--font-color);
    }

    .inner {
        width: fit-content;
        padding: 10px 0;

        @include mobile {
        }
        
        .img-output {
            height: 100px;
            width: 220px;
            display: block;
            margin: auto;
            margin-bottom: 20px;
            fill: red;
            
        }

        .input {
            @extend .border-round;
            border: 2px solid var(--font-color);
            padding: 4px 4px 4px 6px;
            min-width: 300px;
            width: 25vw;
            
            font-weight: 500;
            font-size: 1.2rem;
            background-color: var(--input-bg);
            margin-bottom: 12px;
            color: var(--font-color);
        }
        
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            & > div {                
                label {
                    font-family: "Roboto";
                    font-weight: 500;
                }
            }

            .clear-button {
                // color: red;
                --button-font-color: var(--bg);
                --border: var(--font-color);
                --in-border: #d9534f;
                --background: #d9534f;
            }

            .generate-button {
                // --background: var(--bg);
                // --button-font-color: var(--font-color);
                // --border: var(--font-color);
                // --in-border: var(--font-color);
            }

        }
    }
}

.right {
    // background-color: blue;
    margin-left: 60px;
    max-width: 600px;
    min-height: 100vh;

    @include mobile {
        max-width: 80%;
        margin-left: 0px;
        margin-top: 20px;
    }
    
    .buttons-container {
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;

        .button-section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            
            h2 {
                margin-bottom: 20px;
                
                @include mobile {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            
            div {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                @include mobile {
                    justify-content: center;
                    
                }
            }
        }
        
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4px;
            font-size: 1.1rem;
            min-width: 40px;

            // --background: var(--bg);
            // --button-font-color: var(--font-color);
            // --border: var(--font-color);
            // --in-border: var(--font-color);
        }

        .function-button {
            font-size: 1rem;
        }
    }
}

.clear-button-container {
    margin-right: 4px;
}