@mixin mobile {
    @media (max-width: 600px) {
        @content;        
    }
}

* {
    font-family: Roboto;
    box-sizing: border-box;
}

.sbutton {
    font-family: "Roboto Mono";
    font-weight: 500;
    font-size: .9rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    // align-items: center;
    // background-color: red;
    padding: 8px 12px;
    min-height: 100vh;
    
    @include mobile {
        align-items: center;
        flex-direction: column;
    }
}

.left {
    position: sticky;
    top: 32.5vh;
    height: 25vh;
    height: fit-content;    
    
    @include mobile {
        width: 100%;
        top: 0;
        background-color: white;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
    }

    .inner {
        width: fit-content;
        padding: 10px 0;

        @include mobile {
        }
        
        .img-output {
            height: 100px;
            width: 220px;
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }

        .input {
            border: 2px solid black;
            padding: 4px 4px 4px 6px;
            min-width: 300px;
            width: 25vw;
            border-radius: 4px;
            font-weight: 500;
            font-size: 1.2rem;
            background-color: rgb(236, 236, 236);
            margin-bottom: 12px;
        }
        
        .buttons {
            display: flex;
            justify-content: flex-end;
            align-items: baseline;

            .clear-button {
                // color: red;
                --font-color: white;
                --border: black;
                --in-border: #d9534f;
                --bg: #d9534f;
            }

        }
    }
}

.right {
    // background-color: blue;
    margin-left: 60px;
    max-width: 600px;
    min-height: 100vh;

    @include mobile {
        max-width: 80%;
        margin-left: 0px;
    }
    
    .buttons-container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;

        .button-section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            
            h2 {
                margin-bottom: 20px;
                
                @include mobile {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            
            div {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                @include mobile {
                    justify-content: center;
                    
                }
            }
        }
        
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Roboto Mono";
            font-weight: 500;
            margin: 4px;
            font-size: 1.1rem;
            min-width: 40px;
        }

        .function-button {
            font-size: 1rem;
        }
    }
}

.clear-button-container {
    margin-right: 4px;
}